/* Add CSS Styling */
.odd-number-element {
    background-color: #ffb5c0;
    font-family: 'verdana', 'DejaVu sans', 'sans-serif';
}

#second-element {
    color: #0000ff;
    font-size: 36px;
}

.adjust-font-size {
    font-size: 24px;
}

#fourth-element {
    background-color: #88e788;
    font-weight: bold;
}